/* globals */
:root {
  font-family: 'Courier New', Courier, monospace;
}
a {
  color: black;
}
a:hover {
  opacity: 0.5;
}
h1 {
  margin: 0 0 48px 0;
}
hr {
  border: none;
  border-bottom: 1px solid black;
  margin: 24px 0;
}
button {
  font: inherit;
}
input {
  font: inherit;
}

/* app */
.App {
  position: fixed;
  inset: 0 0 0 0;
	display: flex;
  overflow: hidden;
}
nav {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}
nav a {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1000px) {
  .App {
    flex-direction: column;
  }
  nav {
    width: 100%;
    flex-direction: row;
    border-right: none;
    border-bottom: 1px solid black;
  }
}

/* home */
.Home {
  width: calc(100vw - 49px);
  display: flex;
}
.Home .article {
  width: 50%;
  margin: 24px;
}
.Home .ctas {
  padding: 48px 0;
}
.Home .cta {
  display: inline-flex;
  padding: 12px;
  color: black;
  border: 1px solid black;
  background-color: white;
  align-items: center;
  text-decoration: none;
}
.Home .cta + .cta {
  margin-left: 12px;
}
.Home .cta:hover {
  color: black;
  opacity: 0.5;
}
.Home .cta img {
  margin-right: 12px;
}
.Home .media {
  width: 50%;
}
.Home .media video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1000px) {
  .Home {
    width: 100%;
    height: calc(100vh - 49px);
    overflow-y: auto;
  }
  .Home .article {
    width: 100%;
  }
  .Home .media {
    display: none;
  }
  .Home .ctas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .Home .cta + .cta {
    margin-left: 0;
    margin-top: 12px;
  }
}

/* studio */
.Studio {
  width: calc(100vw - 49px);
  display: grid;
  background-color: black;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
}
.Studio > * {
  background-color: white;
}
.Studio .files {
  padding: 12px;
  overflow-y: auto;
}
.Studio .media {
  height: 48px;
  margin: 12px 0;
  display: flex;
  align-items: center;
}
.Studio .media video {
  width: 96px;
  object-fit: cover;
}
.Studio .media video:hover {
  cursor: pointer;
}
.Studio .media .name {
  width: calc(100% - 152px);
  padding: 0 12px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Studio .media button {
  border: none;
  background: transparent;
}
.Studio .media button:hover {
  opacity: 0.5;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
}

/* about */
.About {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.About .article {
  box-sizing: border-box;
  width: 100%;
  padding: 24px;
  max-width: 700px;
  margin: auto;
}
.About h2:hover {
  opacity: 0.5;
  cursor: pointer;
}
.About section:not(.--expanded) .section-content {
  display: none;
}
.About section:not(.--expanded) .minus {
  display: none;
}
.About section.--expanded .plus {
  display: none;
}
@media screen and (max-width: 1000px) {
}
