:root {
  font-family: 'Courier New', Courier, monospace;
}
a {
  color: black;
}
a:hover {
  opacity: 0.5;
}
.App {
  position: fixed;
  inset: 0 0 0 0;
	display: flex;
  overflow: hidden;
}
h1 {
  margin: 0 0 48px 0;
}
hr {
  border: none;
  border-bottom: 1px solid black;
  margin: 24px 0;
}
nav {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}
nav a {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a:hover {
  opacity: 0.5;
}
.content {
  width: calc(100vw - 49px);
  display: flex;
}
.article {
  width: 50%;
  margin: 24px;
}
.media {
  width: 50%;
}
.media video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ctas {
  padding: 48px 0;
}
.cta {
  display: inline-flex;
  padding: 12px;
  color: black;
  border: 1px solid black;
  background-color: white;
  align-items: center;
  text-decoration: none;
}
.cta + .cta {
  margin-left: 12px;
}
.cta:hover {
  color: black;
  opacity: 0.5;
}
.cta img {
  margin-right: 12px;
}

@media screen and (max-width: 1000px) {
  .App {
    flex-direction: column;
  }
  nav {
    width: 100%;
    flex-direction: row;
    border-right: none;
    border-bottom: 1px solid black;
  }
  .content {
    width: 100%;
    height: calc(100vh - 49px);
    overflow-y: auto;
  }
  .article {
    width: 100%;
  }
  .media {
    display: none;
  }
  .ctas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .cta + .cta {
    margin-left: 0;
    margin-top: 12px;
  }
}

.About {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.About .article {
  width: 100%;
  padding: 24px;
  max-width: 600px;
  margin: auto;
}
.About h2:hover {
  opacity: 0.5;
  cursor: pointer;
}
.About section:not(.--expanded) .section-content {
  display: none;
}
.About section:not(.--expanded) .minus {
  display: none;
}
.About section.--expanded .plus {
  display: none;
}
