body {
  margin: 0;
  background-color: black;
  font-size: 1.3rem;
}
video {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0 0 0 0;
  object-fit: cover;
  filter: brightness(0.3);
}
.text {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  width: 95%;
  max-width: 550px;
  margin: 10em auto;
}
hr {
  border: 1px solid white;
  margin: 2em 0;
}
a {
  color: white;
}
a:hover {
  color: grey;
}
