:root {
  color-scheme: dark;
  font-family: monospace;
}
button {
  cursor: pointer;
}
.segments {
  display: grid;
  grid-template-columns: 1fr repeat(6, 60px);
  gap: 8px;
  margin: 8px 0;
}
