:root {
  color-scheme: dark;
  font-family: monospace;
  background-color: black;
}
button {
  cursor: pointer;
}
.link-button {
  color: white;
  border: 1px solid white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  text-decoration: none;
}
.link-button:hover {
  background-color: white;
  color: black;
}

/* layout */
body {
  margin: 0;
}
nav {
  filter: invert(1);
  background-color: black;
  display: flex;
  padding: 8px;
  gap: 8px;
}
.Studio {
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 800px), 1fr));
  gap: 8px;
}
@media screen and (max-width: 1000px) {
  .no-mobile {
    display: none;
  }
}

/* Home */
header {
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
}
.Home .button-row {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.Home video {
  width: 100%;
}
.faq {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
  gap: 16px;
  padding: 16px;
}
.q {
  border: 1px solid white;
  padding: 16px;
}
.q h1 {
  margin-top: 0;
}
.q p {
  margin-bottom: 0;
}
.faq video {
  height: 100%;
  object-fit: cover;
}

/* Timeline */
.segments {
  display: grid;
  grid-template-columns: 1fr repeat(6, 60px);
  gap: 8px;
  margin: 8px 0;
}
@media screen and (max-width: 1000px) {
  .segments {
    grid-template-columns: 1fr;
  }
}

.RangePreview {
  display: block;
  width: 100%;
  max-height: 30vh;
  object-fit: contain;
}
